#background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: url('../img/mural.png');
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-filter: blur(15px);
    background-attachment: fixed;
}

.background-portal {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    overflow: hidden;
    background-image: url('../img/mural.png');
    background-size: cover;
}

.semi-transparent {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}

.header{
	z-index: 3000000000000000000000000;
	height:70px;
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	top:0;
	position: fixed;
}
.background-showcase {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height:115%;
    right: 0;

    background-image: url('../img/mural.png');
    background-repeat: repeat-y;
    background-size:cover;
    background-attachment: fixed;
}

.semi-transparent-showcase {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 115%;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}
.main-info{
	position: absolute;
	z-index: 2;
	margin-top:500px;
	height:680px;
	width:100%;
	background-color: #F2F2F2;
	border-top: 3px solid gray;
}

.header-content{
	position: absolute;
	right:100px;
}

.header-content>ul{
	list-style-type:none;
	position: relative;
	margin:0;
	padding:0;
}

.header-content>ul>li{
	display: inline-block;
	font-size: 14px;
	padding: 10px 15px 10px 15px;
	border-radius: 2px;
	margin-top: 10px;
}

.hover-change{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.hover-change:hover{
	background-color: rgba(255,255,255,0.5);
}

.header-content>ul>li>a{
	text-decoration: none;
	color: #555;
}

#active{
	color: #111;
}

.pure-form{
	position: relative;
	top:5px;
}

.pure-button{
	position: relative;
	top:-3px;
}

#title{
	position: absolute;
	left:-330px;
	top:23px;
	font-size: 26px;
	font-family: 'Open Sans';
}
.title{
	position: absolute;
	left:-330px;
	top:23px;
	font-size: 26px;
	font-family: 'Open Sans';
}

#tagline-main{
	position: absolute;
	width: 100%;
	z-index: 2;
	margin-top:120px;
	font-size: 70px;
	font-weight: 100;
	color: white;
	font-family: 'Roboto';
}

#tagline-sub{
	position: absolute;
	z-index: 2;
	width: 100%;
	margin-top:190px;
	font-size: 26px;
	color: white;
	font-family: 'Roboto';
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

#intro-top{
	width: 100%;
	position: absolute;
	z-index: 2;
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: 300;
	color: white;
	margin-top: 260px;
}

#intro-bot{
	width: 100%;
	position: absolute;
	z-index: 2;
	font-family: 'Open Sans';
	font-size: 26px;
	font-weight: 300;
	color: white;
	margin-top: 298px;
}

.signup{
	position: absolute;
	z-index: 2;
	margin-top: 380px;
	margin-left: -150px;
}

.signin{
	position: absolute;
	z-index: 2;
	margin-top: 380px;
	margin-left: 25px;	
	background-color: transparent;
	border: 2px solid #0078e7;
}

.container{
	width: 100%;
}

.pure-button-primary{
	font-size: 125%;
}

#invaders{
	position: absolute;
	z-index: 3;
	right: 0;
	margin-right: 40px;
	margin-top: 10px;
}

#developers-title{
	position: absolute;
	z-index: 4;
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: 100;
	color:#040080;
	margin-top: 65px;
	width: 100%;
}

.no-bullet{
	list-style: none;
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 18px;
	width: 96%;
}

.no-bullet>li{
	margin-bottom: 20px;
}

.dev-benefits{
	position: absolute;
	z-index: 4;
	margin-top: 140px;
}

.bargraph{
	position: absolute;
	margin-top: 70px;
	margin-left: 30px;
}

#gamers-title{
	position: absolute;
	z-index: 4;
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: 100;
	color:#040080;
	margin-top: 45px;
	width: 100%;
}

.gamer-benefits{
	position: absolute;
	z-index: 4;
	margin-top: 130px;
}

#footer{
	position: absolute;
	z-index: 10;
	height:60px;
	width: 100%;
	margin-top: 1170px;
	border-top: 2px solid gray;
	background-color: white;
}

#when{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 10px;
}

#copyright{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	float: right;
	margin-right: 10px;
}

#signin-popout{
	margin-top:356px; 
	margin-left: 830px;
	position: absolute; 
	z-index:10;
}

#signup-popout{
	margin-top:310px; 
	margin-left: 260px;
	position: absolute; 
	z-index:10;
}

#new-account{
	margin-top: 5px;
	margin-left: 90px;
}

/*#title-portal{
	position: absolute;
	left:-330px;
	top:23px;
	font-size: 26px;
	font-family: 'Open Sans';
}*/

.showcase{
	height:350px;
	width: 350px;
	position: absolute;
	z-index: 5;
	left:250px;
	margin-top: 220px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
}

.cont{
	font-family: 'Roboto';
	font-size: 30px;
	font-weight: 300;
}

.addWip{
	height:350px;
	width: 350px;
	position: absolute;
	z-index: 5;
	left:650px;
	margin-top: 220px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
}

.showcase{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.showcase:hover{
	background-color: rgba(255,255,255,1);
}

.addWip{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.addWip:hover{
	background-color: rgba(255,255,255,1);
}

.addWipForm{
	width: 60%;
	margin-left: 20%;
	position: absolute;
	z-index: 2;
	height:400px;
	background-color: rgba(255,255,255,0.8);
	margin-top: 150px;
	border-radius: 10px;
}

.submitWipTitle{
	font-family: 'Roboto';
	position: absolute;
	font-size: 40px;
	font-weight: 100;
	margin-top: 50px;
}

.title-portal{
	position: absolute;
	left:-300px;
	top:23px;
	font-size: 26px;
	font-family: 'Open Sans';
}

.body-portal{
	background-color: rgba(255,255,255,0.8);
}

#b1{
	margin-top:-50px;
	font-family: 'Roboto';
}

.item{
	position: relative;
	z-index: 1000;
	background-color: rgba(255,255,255,0.8);
	display: inline-block;
	margin-top: 110px;
	border-radius: 10px;
}

.item-next-row{
	position: relative;
	z-index: 1000;
	background-color: rgba(255,255,255,0.8);
	display: inline-block;
	margin-top: 10px;
	border-radius: 10px;
}


a.thumbnail:hover{
	text-decoration: none;
	background-color: rgba(255,255,255,1);
	border: 2px;

}

.thumbnail-order{
	margin-top: 110px;
	width: 30%;
}


.body-game-page{
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	border: 2px;
	border-radius: 10px;
	margin-top: 100px;
	margin-left: 30px;
	width: 95%;
	height: 600px;
	z-index: 10000;
}

.title-game-page{
	position: absolute;
	font-family: 'Roboto';
	font-size: 40px;
	border: 2px;
/*	margin-left: 160px;*/
/*	text-align: center;*/
	margin-top: 40px;
}

#game-description-one{
	font-family: 'Roboto';
	font-size: 15px;
	padding: 0px;
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
}

#game-description-two{
	font-family: 'Roboto';
	font-size: 15px;
	padding: 0px;
	text-align: center;
	margin-top: -20px;
	margin-left: 20px;
}

#download-game{
	text-align: left;
	font-size: 30px;
	margin-top: 20px;
}

#analytics-game{
	text-align: left;
	font-size: 30px;
	margin-top: 20px;
	white-space: nowrap;
}

.title-game-comment{
	position: relative;
	font-family: 'Roboto';
	font-size: 25px;
/*	margin-left: 160px;*/
	text-align: right;
	margin-top: 40px;
	margin-right: 40px;
}

#comment-box{
	position: relative;
	font-family: 'Roboto';
	text-align: left;
	vertical-align: top;
	padding-top: 50px;
	margin-top: 25px;
	margin-right: 10px;
}

#send-comment{
	text-align: right;
	margin-right: 15px;
}
